.features {
  padding: 5rem 0;
  width: 100%;
}

.featureCard {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 0.5rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.featureImage {
  height: 128px;
  width: 128px;
  margin: 1rem auto;
  object-fit: contain;
  display: block;
}